{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="card shadow-lg">
        <div class="card-body p-5">
          <h2 class="card-title text-center mb-4">Sign Up</h2>
          <form method="post">
            {% csrf_token %}
            {% bootstrap_form form layout='vertical' %}
            <div class="text-end mt-4">
              <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
              <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
